body {
    background-image: url('https://wallpapercave.com/wp/SULpu2M.jpg');
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #17A2B8;
    color: white;
    text-align: center;
 }